@media screen and (max-width:991px){
    .banner .img-text{
        top: 40%;
    }
    .section-1 .img-text, .section-6 .img-text{
        width: 100%;
    }
    .seciton-7 h1{
        font-size: 22px;
    }
    .section-6 .img-text h5{
        margin: 0;
    }
    .section-6 button {
        margin-top: 10px;
    }
    .section-6 .img-text {
        padding: 20px 30px;
    }
}
@media screen and (max-width:768px){
    .banner .img-text h1{
        font-size: 22px;
    }
    .logo{
        padding-top: 10px;
    }
    .main-menu {
        margin-top:10px;
        float: right;
        margin-bottom: 10px;
    }
    .header-bottom li a {
        padding: 4px 9px;
        font-size: 14px;
    }
    .bred-crums{
        font-size: 12px;
    }
    .extra-menu ul li {
        padding: 2px 3px;
        font-size: 14px;
    }
    .section-1 h1 {
        margin-bottom: 0px;
        font-size: 22px;
    }
    .section-1 .img-text {
        padding: 10px 20px;
    }
    .section-2 .img-text{
        width: 100%;
    }
    .section-6 .img-text h3{
        margin-bottom: 5px;
    }
    .section-6 .img-text{
        position: relative;
        color: #333;
    }
    .seciton-7 h1 {
        font-size: 20px;
    }
    .footer-top > div {
        width: 31.5%;
    }
    .main-menu li{
        margin: 0px 8px;
    }
}

@media screen and (max-width:600px){
    [class*="section-"] .img-text{
        position: relative;
    }
    .section-4 .img-text{
        position: absolute;
    }
    .banner .img-text {
        top: 25%;
    }
    .section-2 .img-text {
        width: 100%;
        color: #333;
        padding: 20px;
    }
    .footer-top > div {
        width: 49.5%;
    }
    .seciton-7 .box-inner{
        padding: 20px;
    }
    .seciton-7 h1{
        padding-top: 0px;
    }
    .section-3 .big-text{
        line-height: 32px;
    }
    .menu-bars{
        display: block;
        margin-top: 10px;
    }
    .main-menu ul{
        display: none;
        position: absolute;
        right: 0px;
        background-color: #01843d;
        top: 65px;
        z-index: 99;
        padding: 10px 0px;
        left: 0;
    }
    .main-menu li{
        width: 100%;
        padding: 5px 0px;
    }
    .main-menu li a {
        color: #fff;
    }
    .main-menu li a i {
        color: #fff;
    }
    .main-menu .icons li{
        float: left ;
        width: auto;
    }
    
}
@media screen and (max-width:480px){
    .seciton-7 img{
        float: none;
    }
    .footer-top > div {
        width: 100%;
    }
    .section-6 .img-text, .section-2 .img-text, .section-1 .img-text {
        padding: 10px;
    }
    .banner img{
        height: 100px;
    }
    .banner .img-text {
        top: 15%;
    }

}